// Colors
$primary-color: #4B4FBF;
$bg-menu-item: #a29db980;
$bg-arrow-hide: #02E3DF;

// Fonts
$primary-font : "Poppins";

// MQ breakpoints
$mq-breakpoints: (
  tablet: 768px,
  desktop: 1024px,
  wide: 1440px
);