.counter-product {
  display: inline-flex !important;
  justify-content: center;
  height: 51px !important;
  border-radius: 13px;
  background-color: #f6f6f3;
  display: flex !important;
  align-items: center;
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;

  &__left {
    @extend .counter-rectangule-btn;
    margin-left: 0.5rem;
  }
  &__center {
    height: 42px;
    // width: 112px !important;
    border-radius: 4px;
    background-color: #ffffff;
    margin: 0 0.5rem;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
  &__right {
    @extend .counter-rectangule-btn;
    margin-right: 0.5rem;
  }
  .product-selected {
    display: inline-flex;
    align-items: center;
    &__circle {
      border: 1px solid #02e3df;
      background-color: #ffffff;
      border-radius: 50%;
      padding: 0.5rem;
      margin: 0 10px;
      &--img {
        height: 20px;
        width: 20px;
      }
    }
    &__name {
      margin: 0 auto;
      max-width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
