.custom-orders-header {
  display: flex;
  flex-direction: row;
  background-color: $primary-color !important;
  align-items: center;
  justify-content: space-between;
  height: 80px !important;
  padding: 0 1rem !important;

  &__container {
    width: 100%;
    align-items: center;
    display: flex !important;
  }
}
