.custom-orders-header {
  display: flex;
  flex-direction: row;
  background-color: $primary-color !important;
  align-items: center;
  justify-content: space-between;
  height: 80px !important;
  padding: 0 1rem !important;

  &__container {
    width: 100%;
    align-items: center;
    display: flex !important;
  }
}

.orders-layout {
  height: 100vh;
}

.top-sider-container {
  height: 139px;
  width: 380px;
  background-color: #eff2f8;

  &__title {
    @include font-size(19px);

    padding: 1.5rem 0;
    color: $sider-text;
    font-family: $primary-font;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &--1 {
      @include font-size(16px);
      color: $sider-text;
      font-family: $primary-font;
      line-height: 25px;
    }
  }
}

.no-products {
  padding: 2rem !important;
  display: inline-grid !important;
  justify-items: center;

  &__text {
    @include font-size(16px);

    color: $sider-text;
    font-family: $primary-font;
    line-height: 25px;
    text-align: center;
  }

  &__img {
    display: flex;
    justify-content: center;
    width: 87px;
    height: 87px;
    border: solid 2px #f1f1f1;
    background-color: #ffffff;
    border-radius: 100%;
    img {
      height: fit-content;
      align-self: center;
    }
  }
}

.custom-content {
  background-color: white;
}
