.custom-menu-horizontal {
    display: flex;
    justify-content: flex-start;
    background-color: $primary-color !important;
    color: white !important;
    border-bottom: none !important;
    margin-right: 3rem !important;

    li {
        margin: 0 .6rem !important;
        img {
          width: 20px;
        }
    }

    .ant-menu-item {
      background-color: $bg-menu-item;
      border-radius: 50%;
      padding: 0 17px;

      .anticon { 
        margin: 0;
      }
    }
    
    .ant-menu-item-selected {
      color: white !important;
      border-radius: 100px !important;
      border-bottom: transparent !important;
    }

    .ant-menu-item-active {
        background-color: $bg-menu-item !important;
    }
  }