.svg-1
{
  margin: 0 auto;
  display: block;
}

.st0 {
  filter: url(#Adobe_OpacityMaskFilter);
}
.st1 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #ffffff;
}
.st2 {
  mask: url(#mask-2_2_);
}
.st3 {
  filter: url(#Adobe_OpacityMaskFilter_1_);
}
.st4 {
  mask: url(#mask-4_2_);
}
.st5 {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
.st6 {
  clip-path: url(#SVGID_2_);
}
.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #669f44;
}
.st8 {
  filter: url(#Adobe_OpacityMaskFilter_2_);
}
.st9 {
  mask: url(#mask-2_1_);
}
.st10 {
  fill: #aee993;
}
.st11 {
  fill: #669f44;
}
.st12 {
  fill: #e7e7e7;
}
.st13 {
  filter: url(#Adobe_OpacityMaskFilter_3_);
}
.st14 {
  mask: url(#mask-2_3_);
}
.st15 {
  fill: #de5f16;
}
.st16 {
  fill: #c80120;
}
.st17 {
  fill: #e09c2f;
}
.st18 {
  filter: url(#Adobe_OpacityMaskFilter_4_);
}
.st19 {
  mask: url(#mask-2_4_);
}
.st20 {
  filter: url(#Adobe_OpacityMaskFilter_5_);
}
.st21 {
  mask: url(#mask-4_1_);
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #dd6252;
}
.st22 {
  filter: url(#Adobe_OpacityMaskFilter_6_);
}
.st23 {
  mask: url(#mask-2_5_);
}
.st24 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #fdfdfd;
}
.st25 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #90bf5e;
}
.st26 {
  filter: url(#Adobe_OpacityMaskFilter_7_);
}
.st27 {
  mask: url(#mask-2_6_);
}
.st28 {
  fill: url(#Shape_4_);
}
.st58 {
  fill: #62a3cd;
}
.st59 {
  fill: #ffffff;
}
