.specifications {
  box-sizing: border-box;
  flex-basis: 72%;
  margin: 1rem 1rem;
  border: 1px solid #eff2f8;
  border-radius: 2px;
  background-color: #ffffff;
  height: 67%;
  overflow-y: auto;
  &__time-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border-radius: 2px 2px 0 0;
    background-color: #eff2f8;
    h4 {
      margin: 0;
      color: #6f57d8;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__body-resum {
    padding: 1rem 1rem 0 1rem;
    .container-resum {
      @include font-size(16px);
      font-family: $primary-font;
      color: $primary-text;
      .item-resum {
        box-sizing: border-box;
        height: 50px;
        border: 1px solid #eff2f8;
        border-radius: 3px;
        background-color: #ffffff;
        &__left {
          border-radius: 3px 0 0 3px;
          background-color: #02e3df;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &__right {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding: 0 1rem;
          &--title {
            float: left;
          }
          &--value {
            float: right;
          }
        }
      }
      .additional {
        .container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 0.5rem 0 0 3rem;
          &__box {
            &--item {
              .title {
                border: 1px solid $pale-light-grey;
                border-radius: 3px;
                padding: 0.6rem;
                text-align: center;
                color: $primary-text;
              }
            }
          }
        }
      }
      &__product {
        margin-bottom: 1rem !important;
      }
    }
    .item {
      .ant-input-prefix {
        height: 100%;
        width: 10%;
        left: 0 !important;
        background-color: blue;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
      }
    }
  }
  .product-not-confirmed {
    background-color: $pale-light-grey;
    padding: 1rem;
  }
}
